---
import { Icon } from 'astro-icon/components';
---

<section class="dark:bg-slate-800 not-prose">
  <div class="max-w-xl mx-auto px-4 sm:px-6 py-20 text-md text-center font-medium">
    <p class="font-bold font-heading text-blue-400 mb-2 uppercase">Mission statement</p>
    <p class="text-3xl">
      Integrating scientific knowledge, research and educational awareness to&nbsp;save biodiversity
    </p>
  </div>
</section>
